<section>
  <h1 style="text-align: center;">
    OUR TEAM
    
  </h1>
  <br><br>
  <div class="sectiontwo">
    <div class="secdiv1">
        <div class="hoverdiv1">
            <b> Walter White </b>
            Accountant
           
        </div>
    </div>
    <div class="secdiv2"><div class="hoverdiv2">
        <b>Sarah Jhonson</b>
        CTO
       
    </div></div>
    <div class="secdiv3"><div class="hoverdiv3">
        <b>   William Anderson</b>
        Product Manager
       
    </div></div>
    <div class="secdiv4"><div class="hoverdiv4">
        <b>Amanda Jespon</b>
        Chief Executive Officer
       
    </div></div>
  </div>
</section>