<section>
<div class="review">
  <div class="review__items">
     
      <div class="innerimg1">
    
        
 <div class="content">
  <h1 class="textpara">Welcome to Sailor</h1>
        
  <p class="textpara">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum blanditiis sapiente perferendis enim cupiditate odio natus tempore facere ratione qui illum reiciendis asperiores,<br> consequatur facilis incidunt aspernatur corrupti. Praesentium.
  </p>
  <button  class="jshoverbtn">click</button>

 </div>
      </div>
   
  </div>
  <div class="review__items">

             
      <div class="innerimg2">
    
        
          <div class="content">
           <h1 class="textpara">Lorem Ipsum Dolor</h1>
                 
           <p class="textpara">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum blanditiis sapiente perferendis enim cupiditate odio natus tempore facere ratione qui illum reiciendis asperiores,<br> consequatur facilis incidunt aspernatur corrupti. Praesentium.
           </p>
           <button  class="jshoverbtn">click</button>
      
          </div>
               </div>
    
  </div>
  <div class="review__items">
      <div class="innerimg3">
    
        
          <div class="content">
           <h1 class="textpara">Sequi ea ut et est quaerat</h1>
                 
           <p class="textpara">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum blanditiis sapiente perferendis enim cupiditate odio natus tempore facere ratione qui illum reiciendis asperiores,<br> consequatur facilis incidunt aspernatur corrupti. Praesentium.
           </p>
           <button  class="jshoverbtn">click</button>
      
          </div>
               </div>
    
  </div>
  <div class="review__button">
      <button id="prev" class="onclickjshoverbtn" onclick="previousReview()">
          -
      </button>

      <button id="next" class="onclickjshoverbtn" onclick="nextReview()">
          +
      </button>
  </div>
 
</div>
</section>
<script>
  let rev = 0;
     carousel(rev);
     
     function previousReview() {
         rev = rev - 1;
         carousel(rev);
     }
     
     function nextReview() {
         rev = rev + 1;
         carousel(rev);
     }
     
     function carousel(review) {
         let reviews = document.getElementsByClassName("review__items");
     
         if (review >= reviews.length) {
             review = 0;
             rev = 0;
         }
         if (review < 0) {
             review = reviews.length - 1;
             rev = reviews.length - 1;
         }
         for (let i = 0; i < reviews.length; i++) {
             reviews[i].style.display = "none";
         }
         reviews[review].style.display = "block";

     }
</script>